---
layout: default
title: Home
---

{% assign tmp = "/" | append: site.baseurl %}
{% if page.url == tmp or page.url == "/" %}
    <article>
        <h1 class="top-text">About Ezora</h1>
        <p>Irwin (I.W.) and Mary Bauman were alumni of Bluffton College and long-term residents of Bluffton, Ohio. Irwin was a professor at the college for many years and Mary was an active member of the college community.</p>
    </article>
    <div class="divider"></div>
    <h1 class="top-text">Most Recent Posts</h1>
    {% include postlist.html %}
{% else %}
    <h1 class="top-text">More Posts</h1>
    {% include postlist.html %}
{% endif %}