<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Bauman</h2>
        </header>
        <p>A historical tribute to <br/>
        Irwin W. and Mary E. Bauman</p><!--
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>-->

    </div>

</section>
<!-- The following div is a hack to make it possible to use Javascript to insert a narrower image 
when the page width gets too narrow, e.g. in mobile devices. -->
<div id="insert_mobile_image"></div>
<!-- Hack to insert a nice picture of the two when the screen is too narrow to display the sides of the
regular banner image. Width sniff from https://stackoverflow.com/questions/3437786/get-the-size-of-the-screen-current-web-page-and-browser-window -->
<script>
if ($(window).width() < 500)
    {
    document.getElementById('insert_mobile_image').innerHTML='<a class="image featured"><img src="images/banner_mobile.jpg" alt="Irwin W. and Mary E. (Bonser) Bauman." /></a>'; 
    }
// Show the screen width as an alert to debug the above code.
//alert($(window).width());
</script>
        