<header id="header">
				<h1 id="logo"><a href="/">I.W. and M.E. Bauman History</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
                        <!--<li><a href="/blog.html">Blog</a></li>-->
						<li class="submenu">
							<a href="">Eras</a>
							<ul>
								<li><a href="/bauman/">Irwing's early life</a></li>
								<li><a href="/bonser/">Mary's early life</a></li>
								<li><a href="/germany/">Marriage and life in Germany</a></li>
								<li><a href="/bluffton/">Bluffton years</a></li>
								<!--
								<li class="submenu">
									<a href="">Submenu</a>
									<ul>
										<li><a href="#">Dolore Sed</a></li>
										<li><a href="#">Consequat</a></li>
										<li><a href="#">Lorem Magna</a></li>
										<li><a href="#">Sed Magna</a></li>
										<li><a href="#">Ipsum Nisl</a></li>
									</ul>
								</li>-->
							</ul>
						</li>
						<!--<li><a href="#" class="button special">Sign Up</a></li>-->
					</ul>
				</nav>
			</header>