<header id="header">
				<h1 id="logo"><a href="/">I.W. and M.E. Bauman History</a></h1>
				<nav id="nav">
					<ul>
                        <!--<li><a href="/blog.html">Blog</a></li>-->
						<li class="submenu">
							<a href="">Eras</a>
							<ul>
								<li class="submenu"><a href="/bauman/">Irwin's early life</a>
									<ul>
										<li><a href="/bauman/sassamansville/">Sassamansville</a></li>
										<li><a href="/bauman/autobiography/">Autobiography 1</a></li>
									</ul>
								</li>
								<li><a href="/bonser/">Mary's early life</a>
								<li class="submenu"><a href="/germany/">Marriage/Germany</a>
									<ul>
										<li><a href="/germany/autobiography/">Autobiography 2</a></li>
									</ul>
								</li>
								<li class="submenu"><a href="/bluffton/">Bluffton years</a>
									<ul>
										<li><a href="/bluffton/tribute/">Tribute to Irwin</a></li>
										<li><a href="/bluffton/dad/">I Remember Dad</a></li>
										<li><a href="/bluffton/grandma/">Thoughts on Mary</a></li>
									</ul>
								</li>
								<li><a href="/descendants/">Descendants at BC</a></li>
								<li><a href="/scholarship/">Bauman Scholarship</a></li>
							</ul>
						</li>
						<li><a href="/">Home</a></li>
						<!-- Insert a non-breaking space in a menu item to shift the menus to the left -->
						<li><a href="#">&nbsp;&nbsp;</a></li>
						<li><a href="#">&nbsp;&nbsp;</a></li>
						<li><a href="#">&nbsp;&nbsp;</a></li>
						<li><a href="#">&nbsp;&nbsp;</a></li>
						
						<!--<a href="#" class="button special"></a></li>-->
					</ul>
				</nav>
			</header>